h1{
    color: white;
    text-align: center;
    text-decoration: underline;
    text-shadow: 0px 0px 2px;
}

body{
    background-image: url("https://i.pinimg.com/originals/ed/6a/b6/ed6ab6d14143e648da3dc209bc204ad3.jpg");
    background-size: cover;
    z-index: -1;
}

.user{
  color: whitesmoke;
  animation-name: col;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes col {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px white,0 0 40px pink,0 0 60px white;
    }
    to {
      text-shadow: 0 0 20px pink, 0 0 30px pink,0 0 50px pink,0 0 80px pink;
    }
  }

a{
    text-decoration: none;
    color: red;
}

.new{
    color: yellow;
    text-align: center;
  animation-name: news;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes news {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px white,0 0 40px pink,0 0 60px white;
      font-size: smaller;
    }
    to {
      text-shadow: 0 0 20px pink, 0 0 30px pink,0 0 50px pink,0 0 80px pink;
      font-size: large;
    }
  }

button:hover{
    box-shadow: 0px 0px 4px black;
    background-color: green;
}  

@keyframes cont {
    from {
      margin-left: -200px;
    }
    to {
      margin-left: 0px;
  }
}

.con{
    font-size: large;
    font-style: italic;
  animation-name: cont;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  color: yellow;
}

a:hover{
    font-size: larger;
}

.social_media{
    display: flex; 
    flex-wrap: wrap;
    align-items: right;
    justify-content: right;
    margin-top: -18px;
    margin-right: 30px;
  }

  .social_media i{
    color: white;
    font-size: x-large;
    margin: 4px;
  }  

.post{
    font-size: larger;
}